<!-- About Me -->
<section id="about" class=" three hidden-element ">
    <div class="container ">
        <header>
            <h3>About Me</h3>
        </header>
        <div class="row row.aln-center">
            <div class="col-3 col-12-mobile col-4-narrower ">
                <div class="content">
                    <a href="https://www.linkedin.com/in/padmashreeravikiran/" target="_blank" class="image">
                        <img src="images/compressed.png" alt="" style="width:100%; height:auto">
                    </a>
                </div>
            </div>
            <div class="col-9 col-12-mobile col-8-narrower   ">
                <div class="text " style="text-align:left ">
                    <p>
                        {{ site.data.about.me }}
                    </p>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="content ">
                <div class="text " style="text-align:left " data-aos="zoom-right">
                    <div style="background-color:#e3d6d4; border-radius: 12px; border: 2px solid #ff7c66; margin:2px;">
                        <ul>
                            <li>Proficient in data cleaning, modeling and analysis using tools such as R,
                                SQL
                                and Excel/spreadsheets</li>
                            <li>Skilled in data visualization tools such as Tableau</li>
                            <li>Detail-oriented professional with a track record of meeting deadlines and
                                collaborating with cross-functional teams</li>
                            <li>Strong background in quality management systems and maintaining compliance
                                with
                                ISO standards</li>
                            <li>Skilled in Customer Relationship Management</li>
                        </ul>
                    </div>
                    <p></p>
                    <p>Completed a rigorous <i>Data Analytics and Business Intelligence</i> program with a
                        focus on
                        developing information gathering, data cleaning, data modeling, database schema,
                        data visualization, and analysis skills in order to obtain
                        the Google Data Analytics and Business Intelligence certificates.</p>
                    <p>I am passionate about leveraging data analytics to drive data-informed
                        decision-making and create meaningful impact. Seeking opportunities to optimize
                        processes, drive efficiency, and deliver results through data analysis. Let's
                        connect and explore
                        opportunities to collaborate!</p>
                </div>
            </div>
        </div>
        <footer>
            <a href="https://docs.google.com/document/d/17rxHm_sChkvM9dpbifkbc1FZBQsl7i0zuE03YubaSGQ/export?format=pdf "
                class="button animate__animated animate__pulse">Download Resume <i class="fas fa-file-pdf"></i></a>
        </footer>
    </div>
</section>