<div class="carousel-item {{ include.card-cat }}">

    <article class="item">
        <a>
            <div class="container-card" onclick="window.{{ include.card-id }}.showModal();">
                <div class="item-a {{ include.card-image }} card-header" id="iq7vov">
                    <!-- <div style="
                  margin: auto;" >
                                    Social Buzz
                  
                </div> this will place text in card
            add style="display:flex" to card header -->
    
                </div>
                    <div class="item-b">{{ include.card-title }}
                    </div>

                    <div class="item-c">{{ include.card-desc }}
                    </div>
                    <div class="item-d"> 
                    <ul>
                    {% for item in include.card-bullets %}
                    <li>{{item}}</li>
                    {% endfor %}
                    </ul>
                    </div>
                <div class="item-e">
                    <span>View Details <i class="fas fa-sm fa-arrow-right "></i> </span>
                </div>
            </div>
        </a>
    </article>
</div>
<dialog id="{{ include.card-id }}">
    <h4>{{ include.card-title }}</h4>
    <ul style="text-align: left;">
        <li>
            {{ include.desc1 }}
        </li>
        <li>
            {{ include.desc2 }}

        </li>
        {% if include.desc3 %}
        <li>
            {{ include.desc3 }}

        </li>
        {% endif %}
    </ul>
    <div style="font-color:black;background-color:none;" class="x" onclick="window.{{ include.card-id }}.close();"
        aria-label="close">
        X
    </div>
    <div class="view_more">
        <a href="{{ include.target }}" target="_blank ">
            <span class="primary button" style="font-size: medium; padding:4px;"> {{ include.target-text }} <i
                    class="fas fa-sm fa-arrow-right "></i>
        </a>
    </div>
</dialog>