/* Choice Chip */

.choice-chip {
background-color:#fbffff;;
/* Auto layout */
color: #020707;
display: inline-flex;
flex-direction: row;
font-size: smaller;
width: 86px;
height: 32px;
left: 418px;
top: 1212px;
align-items: center;
justify-content: center;
font-size: 14px;
/* Illustrative/Deep Sea */

border: 1px solid #13203A;
border-radius: 100px;
}

/* Style for the filter container */
.filter-container {
    display: flex;
    justify-content: center;
    margin: 16px;
    flex-flow:wrap;
}

/* Style for individual filter chips */
.filter-chip {
    display: inline-block;
    padding: 8px 16px;
    margin: 8px;
    border-radius: 20px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Style for selected filter chip */
.filter-chip.selected {
    background-color: #6F2928;
    /* Example color */
    color: white;
}

/* Example excel card style */
.carousel-item.sql.show{
    display: block;
}
/* Example excel card style */
.carousel-item.excel.show {
    display: block;
}
/* Example excel card style */
.carousel-item.tableau.show {
    display: block;
}
.carousel-item.sql {
    /* Example color */
    display: none;
}
/* Example tableau card style */
.carousel-item.tableau {
    display: none;
}
/* Example excel card style */
.carousel-item.excel {
    display: none;
}

mark {
  margin: 0 -0.2em;
  padding: 0.1em 0.4em;
  border-radius: 0.3em 0.3em;
  background: transparent;
  background-image: linear-gradient(
    to right,
    #f18c7a,
    #f18c7a 4%
  );
  color:aliceblue;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}